<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Jquery library -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!--Date Picker-->
    <script src="~/Content/Calendar/jquery.plugin.js"></script>

    <!--<script src="jquery.calendars.all.js"></script><!-- Use instead of calendars, plus, and picker below -->
   
    
    <script src="~/Content/Calendar/jquery.calendars.js"></script>
    <script src="~/Content/Calendar/jquery.calendars.plus.js"></script>
    <script src="~/Content/Calendar/jquery.calendars.picker.js"></script>
    <script src="~/Content/Calendar/jquery.calendars.ummalqura.js"></script>
    <script src="~/Content/Calendar/jquery.calendars.ummalqura-ar.js"></script>
    <script src="~/Content/Calendar/jquery.calendars-ar.js" type="text/javascript"></script>
    <script src="~/Content/Calendar/jquery.calendars.picker-ar.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/Calendar/jquery.calendars.picker.css">

    <!-- Toggle Boostrap -->
    <script src="~/Content/Calendar/BootstrapToggle/bootstrap-toggle.min.js"></script>
    <link href="~/Content/Calendar/BootstrapToggle/bootstrap-toggle.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
